<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- Custom CSS -->
  <title>Login</title>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

  <header>
    <% include ../partials/header%>
  </header>

  <body>
    <div class="cont1">
      <div class="form-top">
        <h1>Iniciar Sesión</h1>
      </div>
      <form class="form-reg" method="POST">

        <h3>Nombre de usuario</h3>
        <div class="form-group">
          <input name="userAdmin" type="text" class="form-control" placeholder="Ingrese nombre de usuario" required>
        </div>

        <h3>Contraseña</h3>
        <div class="form-group">
          <input name="contraseñaAdmin" type="password" class="form-control" placeholder="Ingrese contraseña" required>
        </div>

        <h3>Tipo De Sesión</h3>
        <div class="form-group">
           <select name="sesion" class="form-control">
             <option>Administrador</option>
             <option>Propietario</option>
           </select>
        </div>

        <div class="btn-form">
  		    <button type="submit" class="btn btn-warning "><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
          <button type="reset" class="btn btn-warning">Limpiar Campos</button>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
