<nav class="navbar navbar-dark " style="background-color: #111;">
   <a class="navbar-brand" href="/">Software Administrativo</a>
   <form class="form-inline">

     <div class="row">
       <div class="col"> <a class="btn btn-outline-warning" type="button" href="registro">Registro</a> </div>
       <div class="col"> <a class="btn btn-outline-warning" type="button" href="login">Login</a> </div>
     </div>

   </form>
</nav>
