<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Sesion administrador</a>
  <form class="form-inline">

    <div class="row">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Opciones</button>

        <div class="dropdown-menu btn-outline-success dropdown-menu-lg-right" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" type="button" href="#" id="noticas">Actualizar Noticias</a>
          <a class="dropdown-item" type="button" href="#">Actualizar Eventos</a>
          <a class="dropdown-item" type="button" href="#">Actualizar Informes</a>
          <a class="dropdown-item" type="button" href="#">Actualizar Datos Residentes</a>
          <a class="dropdown-item" type="button" href="#">Actualizar Empresa Aseo</a>
          <a class="dropdown-item" type="button" href="#">Actualizar Empresa Vigilancia</a>
        </div>
      </div>

      <div class="col"> <a class="btn btn-outline-success" type="button" href="/">Cerrar Sesion</a> </div>
    </div>

  </form>
</nav>
