<nav class="navbar navbar-dark " style="background-color: #111;">
  <a class="navbar-brand" href="/admin">Sesion administrador</a>
  <form class="form-inline">

    <div class="row">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Opciones</button>

        <div class="dropdown-menu btn-outline-warning dropdown-menu-lg-right" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" type="button" href="/admin/actNoticias" id="noticas">Actualizar Noticias</a>
          <a class="dropdown-item" type="button" href="/admin/actEventos">Actualizar Eventos</a>
          <a class="dropdown-item" type="button" href="/admin/actInformes">Actualizar Informes</a>
          <a class="dropdown-item" type="button" href="/admin/actPropietarios">Actualizar Datos Propietarios</a>
          <a class="dropdown-item" type="button" href="/admin/actEmpresaAseo">Actualizar Empresa Aseo</a>
          <a class="dropdown-item" type="button" href="/admin/actEmpresaVig">Actualizar Empresa Vigilancia</a>
        </div>
      </div>

      <div class="col"> <a class="btn btn-outline-warning" type="button" href="../login">Cerrar Sesion</a> </div>
    </div>

  </form>
</nav>
