body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.cont1 {
  max-width: 550px;
  height: auto;
  background-color: #111;
  margin: 7% auto;
  padding-bottom: 1rem;
    border-radius: 5px;
}

.form-top {
  width: 100%;
  text-align: center;
  padding: 2rem 0 1rem;
  border-top: solid .6rem #111;
  margin-bottom: 1rem;
  color: #cac8c8;
    border-radius: 5px;
}

.form-top h2 {
  font-weight: bolder;
  color: #808080;
  font-size: 20px;
}


.form-reg {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.input, .btn-submit, .btn-reset {
  background-color: #ffffff;
  padding: .6rem;
  margin: .5rem 0;
  border: none;
  border-bottom: solid #cac8c8 .2rem;
  transition: all .6s;
    border-radius: 5px;
}

.select{
  border: none;
  border-bottom: solid #cac8c8 .2rem;
  background-color: #ffffff;
  padding: .0rem;
  margin: .5rem 0;
  overflow: hidden;
    border-radius: 5px;
}


.select select {
    padding: .0rem;
    margin: .5rem 0;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    background-image: none;
    appearance: none;
  }

select:not(:valid){
   color: grey;
 }

h3 {
  font-weight: bolder;
  font-size: 18px;
  color :#808080
}

textarea {
  padding: .0rem;
  margin: .5rem 0;
  width: 100%;
  border: none;
  border-bottom: solid #cac8c8 .2rem;
  box-shadow: none;
  background-color: #ffffff;
  background-image: none;
  appearance: none;
}

i {
  font-size: 15px;
  color :#808080
}

.btn-submit, .btn-reset {
  width: 35%;
  border-bottom: none;
  background-color:  #FF5733 ;
  color: white;
}

.btn-reset {
  background-color:  #FF5733 ;
}
